<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate new pass</title>
    <link rel="stylesheet" href="../styles/common.css">
</head>

<body>
<div class="container">
    <div class="card">
        <div id="show-area" class="alert alert-success" style="display: none" role="alert">
            <strong><a href="#" id="strong-password"></a></strong>
        </div>
        <div class="card-header">
            <h2>Mypass v0.1.1</h2>
            <span id="span-name" style="display: none"></span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xs flex-xs-top">
                    <input type="text" class="form-control" placeholder="what this pass gen for" id="input-usefor"  />
                </div>
                <div class="space-4"></div>
                <div class="col-xs flex-xs-middle">
                    <button id="btn-gencode" type="button" class="btn btn-outline-info">generate</button>

                    <a href="main.html" class="btn btn-primary btn-back">
                        <i class="fa fa-chevron-left"></i>Back to home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/tether/dist/js/tether.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../app/gen.js"></script>
</body>
</html>